*{
    font-family: 'Kalam', cursive;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 10px solid #e7e7e7;
    background: #C31862;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

li.nav-item {
    float: left;
    margin: 0;
}

li.nav-item a {
    padding: 0 1.5rem;
    color: rgb(256, 256, 256);
    text-align: center;
    text-decoration: none;
    position: relative;
}

li.nav-item a:hover(.active) {
        background:#C31862;
}

li.nav-item a:hover:not(.active)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: blue;
}

 table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }

 td, th{
    border: 1px solid #0cb8a6;
    text-align: left;
    padding: 8px;
 }

 tr:nth-child(even){
    background-color: #0fe7bf;
}

tr:nth-child(odd){
    background-color: lightgrey;
}

body{
    padding: 100px;
    align-items: center;
}