* {
    font-family: 'Kalam', cursive;
    color: white;
    cursor: url(https://github.com/TayKimmy/CSA_Repo/assets/107821010/d3f6312f-f199-447a-b52b-9de06bd92805), auto;
}

body {
    background-color: #060334;
    padding: 40px;
    align-items: center;
}

ul.navbar {
    background: #292b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    position: relative;
    background: linear-gradient(to bottom right, #1c306c, #151242);
    list-style-type: none;
}

ul.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}

li.nav-item {
    float: left;
    margin: 0;
}

li.nav-item a {
    padding: 0 1.5rem;
    color: #3498db;
    text-align: center;
    text-decoration: none;
    position: relative;
    transition: color 0.2s;
    background-color: transparent;
}

li.nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
}

li.nav-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
}

td, th {
    border: 0.5px white;
    text-align: left;
    padding: 8px;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #0f0b46;
}

tr:nth-child(odd) {
    background-color: #060334; 
}