<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="https://taykimmy.github.io/CSA_Repo/">Home</a></li>
        <li class="fork"><a href="https://taykimmy.github.io/CSA_Repo/csse">CSSE</a></li>
        <li class="fork"><a href="https://taykimmy.github.io/CSA_Repo/csp">CSP</a></li>
        <li class="fork"><a href="https://taykimmy.github.io/CSA_Repo/csa">CSA</a></li>
        <li class="fork"><a href="https://taykimmy.github.io/CSA_Repo/blogs">Blogs</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>