<header class="site-header">
<link rel="stylesheet" href="header.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
  <div id="header">
    <nav>
      <ul class="navbar">
        <li class="nav-item"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/schedule">Schedule</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="nav-item"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>